<div class="wrapper">
	<div id="content">
		<div class="mountain-top">
        	<div id="navi">
        		<ul>
                    <li>お問い合わせ</li>
            		<li><%= link_to "うっぷん山について", about_path %></li>
            	</ul>
        	</div>
            <h1><img src="<%= asset_path "uppun-logo.gif" %>" class="uppun-logo" alt="うっぷん山"></h1>
            <div class="cloud1">
            	<img src="<%= asset_path "cloud.gif" %>">
            </div>
            <div class="cloud2">
            	<img src="<%= asset_path "cloud2.gif" %>">
            </div>
            <div class="cloud3">
            	<img src="<%= asset_path "cloud3.gif" %>">
            </div>
            <%# if @hyoukou == 128 %>
                <%= render hyoukou %>
            <div class="mount-level1"></div>
            <%# elsif @hyoukou > 150 %>
            <%# elsif @hyoukou > 180 %>
            <%# elsif @hyoukou > 220 %>
            <%# elsif @hyoukou > 250 %>
            <%# end %>
        </div>
            <div class="base-area ac mb50">
        	<div class="mountain-under">
        	</div>
                <%= form_for(@user) do |f| %>
                    <%= f.label :body %>
                    <%= f.text_area :body, class: "text-area" %>
                <!--<div class="kusa">
                    <img src="<%#= asset_path "kusa.gif" %>">
                </div>-->
                    <%= f.submit "うっぷん送信", class: "uppun_btn" %>
                <% end %>
		    </div>
        <div id="footer" class="ac"> © 2015 momoyo-e</div>
	</div>
</div>